---
import { ViewTransitions } from "astro:transitions";
import "../styles/globals.css";
import Header from "@/components/Header";
import Footer from "@/components/Footer";
import { baseSchema } from "@/lib/seo/schemas";

interface Props {
  metaTags: {
    title: string;
    description: string;
    image?: string;
    url?: string;
    twitterHandle?: string;
    schemaData?: object[];
  };
}

const { metaTags } = Astro.props;

const dynamicSchema = metaTags.schemaData ?? [];

const fullSchema = [baseSchema, ...dynamicSchema];
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{metaTags.title}</title>
    <meta name="description" content={metaTags.description} />
    <meta property="og:title" content={metaTags.title} />
    <meta property="og:description" content={metaTags.description} />
    <meta
      property="og:image"
      content="https://tolbertsrestaurant.netlify.app/tolberts.webp"
    />
    <meta property="og:url" content={metaTags.url} />
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta
      name="twitter:creator"
      content={metaTags.twitterHandle || "@riefer02"}
    />
    <meta name="twitter:title" content={metaTags.title} />
    <meta name="twitter:description" content={metaTags.description} />
    <meta
      name="twitter:image"
      content="https://tolbertsrestaurant.netlify.app/tolberts.webp"
    />
    <link rel="canonical" href={metaTags.url} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <ViewTransitions />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <script type="application/ld+json" set:html={JSON.stringify(fullSchema)} />
    <!-- Google Tag Manager -->
    <script>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        // @ts-ignore
        j.async = true;
        // @ts-ignore
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-M7XS77GM");
    </script>
    <!-- End Google Tag Manager -->
  </head>
  <body class="bg-stone-200 text-stone-800">
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-M7XS77GM"
        height="0"
        width="0"
        style="display:none;visibility:hidden"></iframe></noscript
    >
    <!-- End Google Tag Manager (noscript) -->
    <Header client:load />
    <div class="chili-white pt-20">
      <slot />
    </div>
    <Footer client:load />
    <style is:global>
      :root {
        --accent: 136, 58, 7;
        --accent-light: 224, 204, 250;
        --accent-dark: 49, 10, 101;
        --accent-gradient: linear-gradient(
          45deg,
          rgb(var(--accent)),
          rgb(var(--accent-light)) 30%,
          white 60%
        );
      }
    </style>
  </body>
</html>
