---
import Header from "../components/Header.astro";
import { ViewTransitions } from "astro:transitions";
import ogImage from "/tolberts.webp";
import "../styles/globals.css";
import TopNav from "@/components/TopNav"
import Footer from "@/components/Footer"
interface Props {
  metaTags: {
    title: string;
    description: string;
    image?: string;
    url: string;
    twitterHandle?: string;
  };
}

const { metaTags } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{metaTags.title}</title>
    <meta name="description" content={metaTags.description} />
    <meta property="og:title" content={metaTags.title} />
    <meta property="og:description" content={metaTags.description} />
    <meta property="og:image" content={metaTags.image || ogImage.src} />
    <meta property="og:url" content={metaTags.url} />
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta
      name="twitter:creator"
      content={metaTags.twitterHandle || "@riefer02"}
    />
    <meta name="twitter:title" content={metaTags.title} />
    <meta name="twitter:description" content={metaTags.description} />
    <meta name="twitter:image" content={metaTags.image || ogImage.src} />
    <link rel="canonical" href={metaTags.url} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <ViewTransitions />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    

  </head>
  <divs class="bg-stone-200 text-stone-800">
    <Header title={metaTags.title} />
    <TopNav client:load/>
    <div>
      <slot />
    </div>
    <Footer />
    <style is:global>
      :root {
        --accent: 136, 58, 7;
        --accent-light: 224, 204, 250;
        --accent-dark: 49, 10, 101;
        --accent-gradient: linear-gradient(
          45deg,
          rgb(var(--accent)),
          rgb(var(--accent-light)) 30%,
          white 60%
        );
      }

      
    </style>
  </body>
</html>
