---
import Layout from "./Layout.astro";
const { frontmatter } = Astro.props;

const metaTags = {
  title: frontmatter.title,
  description: frontmatter.description,
  image: frontmatter.image.url.src,
  url: `https://tolbertsrestaurant.com/posts/${frontmatter.slug}`,
};
---

<Layout metaTags={metaTags}>
  <div class="mx-auto max-w-2xl py-6">
    <p class="text-xs text-gray-600 sm:text-sm">
      {frontmatter.pubDate.toString().slice(0, 10)}
    </p>
    <h1 class="mb-4 mt-2 text-2xl font-bold text-gray-900 sm:text-4xl">
      {frontmatter.title}
    </h1>
    <p class="mb-4 text-base italic text-gray-700 sm:text-lg">
      {frontmatter.description}
    </p>
    <p class="mb-6 text-sm font-medium">
      Written by: <span class="text-indigo-600">{frontmatter.author}</span>
    </p>
    <img
      class="mb-8 h-auto w-full rounded-lg shadow-md"
      src={frontmatter.image.url.src}
      alt={frontmatter.image.alt}
    />
    {
      frontmatter.tags && frontmatter.tags.length > 0 && (
        <div class="mb-4 flex flex-wrap gap-2">
          {frontmatter.tags.map((tag) => (
            <span class="rounded-3xl bg-stone-700 px-2.5 py-1.5 text-xs font-semibold text-stone-100">
              {tag}
            </span>
          ))}
        </div>
      )
    }
    <article
      class="prose prose-sm sm:prose prose-stone lg:prose-lg xl:prose-xl"
    >
      <slot />
    </article>
  </div>
</Layout>
